<% include header.html %>

<section class="py-3">
  <div class="container px-4 px-lg-5 mt-5">
    <h1 class="display-4 fw-bolder"><%= __('Private page') %></h1>

    <p class="lead fw-normal mb-0">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi tenetur
      reiciendis facere, consequatur quis deserunt labore eligendi voluptates
      similique, nam illo nesciunt atque aliquid nobis consectetur placeat at
      odit obcaecati.
    </p>
    <p class="lead fw-normal mb-0">
      Totam veniam ab veritatis similique. Ducimus inventore deserunt voluptas
      atque! Eaque velit iure aut qui aliquid blanditiis architecto suscipit
      laudantium placeat aspernatur fugiat autem quibusdam non enim, quod
      voluptas fugit.
    </p>
    <p class="lead fw-normal mb-0">
      Vitae, recusandae. Qui quibusdam voluptatum ea nostrum architecto quisquam
      molestiae! Excepturi officia hic voluptatem, possimus corrupti incidunt
      vitae natus provident sit tenetur facere, nihil quasi reiciendis
      temporibus unde libero laboriosam?
    </p>
    <p class="lead fw-normal mb-0">
      Tempore quos id consectetur ipsum ab! Fuga voluptatum dolor qui aut
      similique quidem? Consequuntur obcaecati nihil recusandae, debitis
      consectetur ipsa beatae? Id inventore nihil laudantium corporis! Totam
      quia nihil magnam!
    </p>
  </div>
</section>

<% include footer.html %>
